body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1505189303763-99eacdbca050?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    color:red;
  }
  #mainflex {
    display: flex;  
    width: 1100px;
    align-items: center;
    justify-content: space-around;
  }

  #returnBtn{
    background-color: darkred;
    widows: 800px;
    height: 100px;
    font-size: 3em;
    color: whitesmoke;
    font-weight: bolder;
    align-items: center;
  }

  #endMessage {
    display: flex;
    width: 1100px;
    height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

.endMessageText {
  font-size: 3em;
  color: red;
  font-weight: bolder;
  widows: 300px;
  height 40px
  text-align: center;
  justify-content: center;
  margin:0px;
}

  #scoresflex {
    display: flex;
    flex-direction: column;

    height: 700px;
    justify-content: space-evenly;
    width: 250px;
}

#messageBox, #scoresBox {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scoresBox {
  background-image: url('./assets/star1.svg');
  background-size:  100%;
  background-repeat: no-repeat;  
  height: 350px;

}

#messageBox {
  background-image: url('./assets/star2.svg');
  background-size: cover;
  height: 307px;
}

#messageBox > h3 {
  font-size: 1.8em
}

h3 {
  font-size: 2em;
  text-align: center;
  margin: 0px;
  color:darkred;
}

#score {
  font-size: 4em;
}

#instructions {
  
width:800px;
height:150px;
background-color: midnightblue;
color:whitesmoke;
font-size: 1.5em;
text-align: center;
align-content: center;
}

